@charset "UTF-8";
#newOrder{ 
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	padding-top: 10px;
	width: 600px;
	height: 300px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#newOrder p:nth-child(1) {
	font-weight: bold;
	margin-bottom: 0px;
}
#newOrder img{
	width: 150px;
	margin-left: 220px;
	height: 150px;
}
#newOrder button{
	text-align: center;
	margin-left: 225px;
	margin-top: 20px;
	background-color: rgb(0 153 174);
	font-size: 0.8em;
	width: 140px; height: 40px;
	border: none;
	color: white;
}
#a1,#a2,#a3,#a4{
	color: white;
	background-color: rgb(0 153 174);
}
#mywish p:nth-child(1) {
	font-weight: bold;
	margin-bottom: 0px;
}
#mywish p:nth-child(1) img{
	width: 15px;
	margin-bottom: 3px;
	margin-right: 5px;
}
#mywish .box{
	width: 200px;
	margin-left: 200px;
}
#mywish{ 
	position: absolute;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	padding-top: 10px;
	width: 600px;
	height: 300px;
	margin-top: 320px;
	margin-left: 295px;
}